src/main/mule/cicd-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5a7e9b6-94d5-4e98-9d1b-75bcba93a325" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-testFlow" doc:id="56adcc9e-383d-4c74-8119-53d447daa7a3" >
		<http:listener doc:name="Listener" doc:id="93a357a1-ae4a-4b24-bcd0-224c9b6f772f" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="1aa706f3-b80a-472f-9d66-c8deb2e30404" message='#["hello"]'/>
	</flow>
</mule>
